@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}
#about{
    padding:15vh 15px;
}

.about-subtitle{
    width: 50vw;
    margin: auto;
    text-align:center;
}
.education-data{
    margin-top: 30px;
    padding:10px 10px;
    background-color: white;
    /* box-shadow: 2px 1px 3px blue; */
    box-shadow: -5px 10px 35px 2px rgba(0,0,0,0.25);
}
.education-data:hover{
    transition: .6s ease-out;
    transform: scale(110%);
}

#skills{
    padding: 25vh 15px;
}

.skill-data{
    margin-top: 30px;
    padding:10px 10px;
    border-radius: 5px;
    /* background-color: white; */
    /* box-shadow: 2px 1px 3px blue; */
    box-shadow: -5px 10px 35px 2px rgba(0,0,0,0.25);
    align-items: center;
    
}
.skill-data i{
    position: relative;
    top: 6px;
}
.skills-subtitle{
    margin-top: -80px;
}
.skill-data:hover h6{
    font-size: 120%;
    transition: .4s ease-out;
}

#projects{
    padding: 30vh 15px;
}
#projects img:hover{
    transition: ease-out 1s;
    transform: scale(120%);
}